# Running Biomechanics Data Set forces files

Reginaldo K Fukuchi, Jan 2023, reginaldo.fukuchi@ufabc.edu.br

This NB imports c3d files and convert data into ASCII files for forces separately.

In [1]:
# Prepare environment
import os
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib notebook

In [2]:
# Import data
pathname = r'../data'

## Import C3D RBDS file using EZC3D
https://github.com/pyomeca/ezc3d

In [3]:
import sys
sys.path.insert(1, r'../functions')
from svdt import svdt

In [4]:
from ezc3d import c3d

In [5]:
subject = 'RBDS0041'
task = 'runT252'

In [6]:
fname_c3d = os.path.join(pathname,task + '.c3d')
c = c3d(fname_c3d, extract_forceplat_data=True)

In [66]:
pf_1 = c["data"]["platform"][1]  # Select the second platform
# Force platform signals matching existing RBDS
fp1_forces = pf_1['force'].T # Forces
fp1_cop    = pf_1['center_of_pressure'].T # Centre of pressure
fp1_Ty     = pf_1['Tz'][1,:] # Free moment about vertical axis

In [67]:
fp1_Ty = np.expand_dims(fp1_Ty,axis=1)

In [68]:
# Concatenate signals
force_signals = np.hstack([fp1_forces, fp1_cop, fp1_Ty])

In [50]:
force_sigs_labels = ['Fx', 'Fy', 'Fz', 'COPx', 'COPy', 'COPz', 'Ty']

In [78]:
df_forces = pd.DataFrame(data=force_signals, columns=force_sigs_labels)

In [80]:
df_forces['Time'] = list(range(1,force_signals.shape[0]+1))
df_forces.set_index('Time', inplace=True)
df_forces.index.name = 'Time'

In [82]:
df_forces = df_forces.round(2)

In [83]:
df_forces.head()

          Fx       Fy     Fz     COPx  COPy     COPz        Ty
Time
1    -128.78  1718.29 -74.77  2117.64   0.0  1552.29  13298.91
2    -105.74  1748.81 -76.68  2104.63   0.0  1552.08  19883.12
3    -104.60  1761.02 -64.47  2099.89   0.0  1552.42  20350.88
4     -69.73  1767.88 -71.56  2091.01   0.0  1552.56  15951.65
5     -67.75  1778.41 -79.42  2085.01   0.0  1552.54  15124.41

In [84]:
# Export to CSV
fname_forces_txt = os.path.join(pathname, subject+task+'forces.txt')
df_forces.to_csv(fname_forces_txt, sep='\t')

## Import txt file from RBDS to see its structure

In [44]:
fname_R = os.path.join(pathname, 'RBDS001runT25forces.txt')
df_R = pd.read_csv(fname_R, delimiter='\t', index_col='Time')

In [45]:
df_R.head()

          Fx      Fy     Fz     COPx  COPy     COPz        Ty
Time
1    -184.63  328.67 -72.78  2591.73     0  1134.51 -15305.20
2    -194.63  348.66 -66.45  2514.68     0  1123.29   9418.18
3     -96.66  400.85 -45.39  2546.33     0  1136.36 -29979.20
4     -47.38  491.49 -19.99  2493.38     0  1127.69  12225.30
5     -36.24  552.83 -20.07  2500.02     0  1129.17  21395.00

In [46]:
from ordered_set import OrderedSet

In [49]:
# RBDS
ls = df_R.columns.tolist()
ls

['Fx', 'Fy', 'Fz', 'COPx', 'COPy', 'COPz', 'Ty']